:root {
  --bg: #FFFFFF;
  --pink: #F67599;
  --text-content: #2A2A2A;
  --input-border: #4A4A4A;
  --input-label: #808080;
  --input-holder: #999999;
  --step-text: #AFB1BD;
  --step-bg: #333333;
  --radio-check: #2A2A2A;
  --radio-border: #F0F0F5;
  --cart-bg: #FFFFFF;
  --cart-button: #F0F0F5;
  --cart-border: #F0F0F5;
  --footer-bg: #E5E5E5;
  --footer-text: #808080;
  --logo-url: url("https://i.imgur.com/TAtCacN.png");
  --toggle-url: url("https://i.imgur.com/qmuTsQ2.png");
  --search-url: url("https://i.imgur.com/3Gwb3ON.png");
  --cart-url: url("https://i.imgur.com/P0nmeEj.png");
  --switch-url: url("https://i.imgur.com/CJKanuv.png");
  --jean1-url: url("https://i.imgur.com/MRdy9z2.png");
  --jean2-url: url("https://i.imgur.com/a0BP98T.png");
  --modal-close: url("https://i.imgur.com/7tsASA2.png");
}

[data-theme="dark"] {
  --bg: #000000;
  --text-content: #FFFFFF;
  --input-border: #5E5E5E;
  --input-label: #AFB1BD;
  --input-holder: #FFFFFF 40%;
  --radio-check: #333333;
  --radio-border: #5E5E5E;
  --cart-bg: #383838;
  --cart-button: #808080;
  --footer-bg: #333333;
  --footer-text: #AFB1BD;
  --logo-url: url("https://i.imgur.com/ZAGlPQF.png");
  --toggle-url: url("https://i.imgur.com/2FaonVe.png");
  --search-url: url("https://i.imgur.com/m398oYJ.png");
  --cart-url: url("https://i.imgur.com/mRtsxz4.png");
  --switch-url: url("https://i.imgur.com/jYhM92K.png");
}