.control {
  &-right {
    margin-top: 32px;
    padding-top: 24px;
    border-top: 1px solid var(--cart-border);
    display: flex;
    justify-content: space-between;
  }
  &-left {
    display: none;
  }
}

@media screen and (min-width: 372px) {
  .control {
    &-right {
      display: none;
    }
    &-left {
      margin-top: 52px;
      padding-top: 24px;
      border-top: 1px solid var(--cart-border);
      display: flex;
      justify-content: space-between;  
      
    }
  }
}