.step {
  height: 56px;
  padding-top: 24px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .step-progress {
      display: flex;
      align-items: center;
      #step1::after {
        content: '1'
      }
      #step2::after {
        content: '2'
      }
      #step3::after {
        content: '3'
      }
      &-circle {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid var(--step-text);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        color: var(--step-text);
      }
      &-label {
        color: var(--step-text);;
        display: none;
      }
      &.completed {
        .step-progress-circle {
          background: var(--text-content);
          border: none;
        }
        .step-progress-label {
          color: var(--text-content);
        }
        #step1::after,#step2::after,#step3::after {
          content: '\2714';
        }
      }
      &.active  {
        .step-progress-circle {
          border: 1px solid var(--text-content);
          color: var(--text-content);
        }
        .step-progress-label {
          color: var(--text-content);
        }
      }
    }
    .step-connect {
      flex: 1;
      margin-left: 22px;
      margin-right: 22px;
      height: 2px;
      background: var(--step-text);
      &.completed {
        background: var(--text-content);
      }
    }
  }
}

@media screen and (min-width: 372px) {
  .step {
    height: 72px;
    padding-top: 48px;
    &-container {
      .step-progress {
        &-circle {
          width: 24px;
          height: 24px;
          font-size: 12px;
        }
        &-label {
          display: block;
          margin-left: 8px;
          flex: 1;
        }
      }
    }
  }
}