@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap');

@import 'step';
@import 'color';


.main {
  width: 92.26%;
  margin: 56px auto 0 auto;
  border: 1px solid red;
}

