@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap');

@import 'step';
@import 'color';
@import 'form';
@import 'input';
@import 'cart';
@import 'button';
@import 'control';


.main {
  width: 92.26%;
  margin: 56px auto 0 auto;
  &-title {
    color: var(--text-content);
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 372px) {
  .main {
    width: 88.54%;
    margin: 60px auto 0 auto;
    &-title {
      font-size: 32px;
      line-height: 38px;
      padding-top: 80px;
    }
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 30px;
      .main-left {
        grid-column: 1/7;
      }
      .main-right {
        grid-column: 8/13;
      }
    }
  }
}

